body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}

.contact_img {
    width: 30%;
    height: 30%;
    z-index: 3;
}

.contact_img:hover {
    transform: scale(1.1);
}

#top_buttons {
    display: none;
}

#top_portfolio {
    display: none;
}

#top_page {
    position: relative;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.page_half {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.page_half:first-child {
    border-bottom: 2px solid darkcyan;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav_bar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 4;
}

.nav_bar ul {
    list-style: none;
    display: flex;
    z-index: 1;
}

.nav_bar > ul > li {
    padding: 0 1.3em;
    color: white;
    text-decoration: none;   
}

a, a:visited, a:focus, a:active, a:hover {
    text-decoration: none;
    color:white;
}

#angled_edges {
    position: absolute;
    left: -8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 89vw;
    justify-content: space-between;
}

#angled_edges > div {
    height: 350px;
    width: 200px;
    border: 2px solid black;
}

#left_edge {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), darkcyan);
    transform: skewX(-35deg)
}

#right_edge {
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.8), darkcyan);
    transform: skewX(35deg)
}

#my_name {
    position: absolute;
    bottom: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#my_name > h1 {
    margin: 0 10%;;
    color: white;
    font-size: 3em;
    line-height: 1.1em;
    z-index: 1;
    font-family: 'Open sans', sans-serif;
}

#my_name > h1:first-child {
    margin-top: 3.5em;
}

#full_stack {
    width: 50%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

#full_stack > h1 {
    margin: 0 10%;;
    z-index: 1;
    color: black;
    font-size: 3em;
    line-height: 1.1em;
    font-family: 'Open sans', sans-serif;
}

.line_graphic {
    display: grid;
    margin-bottom: 2%;
    align-self: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.5em;
    width: 15%;
}

.line_graphic > div {
    height: 0.5em;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px darkcyan;
}

#first_line {
    width: 90%;
}

#second_line {
    width: 60%;
}

#third_line {
    width: 30%;
}

#forth_line {
    width: 10%;
}

footer {
    display: grid;
    width: 20%;
    grid-template-columns: 15% 1fr 15%;
    margin-bottom: 1%;
}

.contact_bar {
    position: absolute;
    bottom: 3%;
    width: 10%;
    min-height: 3em;
    display: flex;
    justify-content: space-around;
    margin-left: 2em;
    z-index: 3;
}

.contact_img {
    width: 50px;
    height: 50px;
}

#big_triangle_container {
    position: absolute;
    top: 20%;
    left: 35%;
}

#big_triangle_container > img {
    width: 55%;
    height: 55%;
}

#bottom_page {
    height: 100vh;
    border: 1px solid black;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

#portfolio_wall {
    width: 100vw;
    top: 7.5%;
    height: 85%;
    border: 4px solid darkcyan;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotateY(85deg);
    z-index: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: none;
    overflow: hidden;
}

#blurry {
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 25%, white 55%, rgba(0, 0, 0, 0.8) 5%);
}

#portfolio {
    width: 100vw;
    top: 7.5%;
    height: 100%;
    position: absolute;
    transform: rotateY(85deg);
    z-index: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s ease;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

#portfolio > div {
    padding: 0;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio > div > a {
    margin-top: 2.5em;
    transition: .3s ease;
    border: 2px solid darkcyan;
}
#portfolio > div > a:hover {
    transform: scale(1.1);
}

#portfolio > div > h2, p {
    text-align: center;
    margin: 0 1.5em;
}

#portfolio > div > h2 {
    font-family: 'Open sans', sans-serif; 
    margin: 1.2em 0;
}

#portfolio.port_flipped {
    transform: rotateY(0deg);
    z-index: 1;
}

#about_me_wall {
    width: 100vw;
    top: 7.5%;
    height: 85%;
    border: 4px solid darkcyan;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotateY(-85deg);
    z-index: 0;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: none;
    overflow: hidden;
}
#about_me {
    width: 99.5vw;
    height: 85%;
    top: 7.5%;
    position: absolute;
    transform: rotateY(-85deg);
    z-index: 0;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: all 1s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
}

#about_me > div {
    padding: 0;
    display: flex;
}

#jordan {
    grid-row: 1 / 3;
    margin-top: 3em;
    margin-left: 12em;
    margin-right: 18em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#jordan > img {
    margin-left: 6em;
    margin-top: 2em;
    width: 240px;
    height: 240px;
}
#jordan .words {
    margin-left: 6em;    
    margin-bottom: 2em;
}

#jordan .words > h2 {
    text-align: center;
    font-family: 'Open sans', sans-serif;     
}

#jordan .words > p {
    margin: 0;
    line-height: 1.5em;
}

#jordan .words > p > span {
    text-decoration: underline;
    font-weight: bold;
}

#more_stuff {
    grid-row: 1 / 3;
    margin-right: 6em;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#more_stuff > img {
    width: 128px;
    height: 128px;
}


#about_me.about_flipped {
    transform: rotateY(0deg);
    z-index: 1;
}

#lights_top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(-48.5%, -50%);
    width: 46%;
    top: 10%;
    left: 50%;
}

#first_light, #second_light {
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 2em;
    filter: blur(5px);
    transform: rotateX(65deg)
}
#lights_bottom {
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(-48.5%, -50%);
    width: 26%;
    top: 25%;
    left: 50%;
}

#third_light, #forth_light {
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    filter: blur(5px);
    transform: rotateX(65deg)
}
#mid_frame {
    position: absolute;
    top: 33.3%;
    z-index: 0;
    width: 100vw;
    height: 33vh;
    background-color: white;
    border: 4px solid darkcyan;
}

#mid_frame #triangle_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-13.5%, -65%)
}
#mid_frame #triangle_container > img {
    width: 30%;
    height: 30%;
}

#mid_frame .line_graphic {
    position: relative;
    grid-row-gap: 0.2em;
    top: 85%;
    left: 50%;
    transform: translate(-52.5%, -50%)
}

#mid_frame .line_graphic > div {
    height: 0.2em;
}

#mid_frame #line_one {
    width: 30%;
}

#mid_frame #line_two {
    width: 20%;
}

#mid_frame #line_three {
    width: 10%;
}

#mid_frame #line_four {
    width: 3.3%;
}

#buttons {
    position: absolute;
    right: 20%;
    height: 5%;
    width: 60%;
    z-index: 2;    
    bottom: 7%;
    display: flex;
    justify-content: space-around;
}

.port_button, #about_button {
    background-color: darkcyan;
    font-weight: bold;    
    border: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px black;
    border-radius: 0.5em;    
}
.port_button:hover, #about_button:hover {
    transform: scale(1.1);
}

#cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: all 1s;
    z-index: 1;
}

#cover.dim {
    background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
    .contact_bar {
        display: none;
    }

    #bottom_page {
        display:none;
    }

    #angled_edges {
        display: none;
    }

    .nav_bar {
        width: 100%;
        justify-content: space-around;
        border: 2px solid darkcyan
    }

    .nav_bar > ul > li {
        padding: 0 6em;  
    }

    #my_name {
        align-items: flex-start;
    }

    #my_name > h1 {
        line-height: 1.3em;
    }

    #my_name > h1:first-child {
        margin-top: 1.4em;
    }

    #full_stack {
        align-self: flex-start;
    }

    #full_stack > h1:first-child {
        margin-top: 1.6em;
    }

    #top_buttons {
        position: absolute;
        top: 20%;
        left: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 60%;
        z-index: 3;
    }

    .contact_img {
        width: 50px;
        height: 50px;
    }

    #top_buttons > button {
        border-radius: 0.5em;
        height: 35%;
        width: 100%;
        color: white;
    }

    #top_buttons > button > span {
        text-orientation: upright;
        writing-mode: vertical-lr;
        margin-top: 0.5em;
        padding: 0 0.4em;
    }

    #triangle_container {
        display: none;
    }

    .line_graphic {
        display: none;
    }

    footer > div{
        display: none;
    }

    .down_arrow {
        display: none;
    }

    #bottom_page > .nav_bar {
        display: none;
    }

    #top_portfolio {
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none; 
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        transform: translateX(-120vw);
        transition: transform 0.8s ease;
        top: 7.5%;
        z-index: 1;
        overflow: auto;
    }

    #top_portfolio::-webkit-scrollbar { 
        display: none;
    }
    
    #top_portfolio > div {
        padding: 0;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #top_portfolio.overlay1{
        position: fixed;
        transform: translateX(0vw);
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.5);   
    }
  
    .overlay-content1 {
        height: 100%;
        width: 100%;
        overflow: scroll;
    }
      
    .background-content1{
        height: 100%;
        overflow: auto;
    }
    .words_blur {
        filter: blur(5px)
    }
    #overlay-content > div > h2{
        margin-left: 5.5em;
    }
    #overlay-content > div > p{
        width: 78%;
    }
}

@media screen and (max-width: 375px) {
    .nav_bar {
        border: none;
        border-bottom: 2px solid darkcyan;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
    }

    .nav_bar > ul > li {
        padding: 0 1.5em;
        margin: 0;
    }

    #top_buttons > button > span {
        text-orientation: upright;
        writing-mode: vertical-lr;
        margin-top: 0.5em;
        padding: 0.4em;
        font-size: 0.7em;
    }

    #overlay-content > div {
        margin-top: 1em;
    }

    #overlay-content > div > h2 {
        margin: 0 4em;
    }

    #overlay-content > div > p {
        margin: 0 1em;
    }
    
    #overlay-content > div > a > img{
        margin-left: 0.8em;
        width: 80%;
    }
}